<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index Stats / {{collection}}</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Detail: {{collection}}</h1>
        <p>
            <b>{{size}} requests</b>
            <br />
            <b>Average Score: <span class="avgScore">{{avgScore}}</span></b>
            <br />
            <b>Median Score: <span class="medianScore">{{medianScore}}</span></b>
            <br />
            <b>Range: [{{minScore}}, {{maxScore}}]</b>
            <br />
            Occurrence: <span class="timestamp">{{lastOccurrence}}</span>, &nbsp;&nbsp;&nbsp; <span class="timestamp">{{firstOccurrence}}</span>
            <br />
            <input type="checkbox" disabled {{#containsCollScan}}checked="checked"{{/containsCollScan}} /> Contains COLLSCAN
        </p>
        {{#requests}}
        <hr />
        <pre>{{raw}}</pre>
        {{/requests}}
    </body>
</html>