<html>
    <head>
        <title>Index Stats / {{query.find}}</title>
    </head>
    <body>
        <h1>Detail: {{query.find}}</h1>
        <h4>{{nreturned}} / {{docsExamined}}</h4>
        <hr />
        <pre>{{raw}}</p>
    </body>
</html>