<html>
    <head>
        <title>Index Stats / {{collection}}</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Detail: {{collection}}</h1>
        <p>
        <b>Average Score: <span class="avgScore">{{avgScore}}</span></b>
        <br />
        <b>Median Score: <span class="medianScore">{{medianScore}}</span></b>
        <br />
        <b>Range: [{{minScore}}, {{maxScore}}]</b>
        {{#requests}}
        <hr />
        <pre>{{raw}}</p>
        {{/requests}}
    </body>
</html>