<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index Stats</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Index Stats</h1>
        <table class="hor-minimalist-b">
            <thead>
                <tr>
                    <th scope="col">Requests</th>
                    <th scope="col">Collection</th>
                    <th scope="col">Filter Attrs</th>
                    <th scope="col">Last Occurrence</th>
                    <th scope="col">Avg Score</th>
                    <th scope="col">Median Score</th>
                    <th scope="col">COLLSCAN</th>
                </tr>
            </thead>
            <tbody>
                {{#requestGroups}}
                <tr>
                    <td>{{size}}</td>
                    <td><a href="{{queryHash}}.html">{{collection}}</a></td>
                    <td>{{filterAttrs}}</td>
                    <td class="timestamp">{{lastOccurrence}}</td>
                    <td class="avgScore">{{avgScore}}</td>
                    <td class="medianScore">{{medianScore}}</td>
                    <td><input id="collscancb{{queryHash}}" type="checkbox" disabled {{#allCollScan}}checked{{/allCollScan}} /></td>
                </tr>
                {{/requestGroups}}
            </tbody>
        </table>
        <script>
            {{#requestGroups}}
            {{#someCollScan}}
            document.getElementById("collscancb{{queryHash}}").indeterminate = true
            {{/someCollScan}}
            {{/requestGroups}}
        </script>
    </body>
</html>