<html>
    <head>
        <title>Index Stats</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>Index Stats</h1>
        <ul>
            {{#requestGroups}}
            <li>
                <a href="{{queryHash}}.html">{{collection}}</a> (<span class="avgScore">{{avgScore}}</span>, <span class="medianScore">{{medianScore}}</span>)
            </li>
            {{/requestGroups}}
        </ul>
    </body>
</html>